@using SalarySystem.Entities
@using SalarySystem.WebService.Models
@model EmployeePaycheck
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{
<link href="~/css/Employee/employeeStyle.css" rel="stylesheet" />
}
<main>
    <div class="pageTitle">Сотрудник</div>
    <img class="avatar"
         src="https://static.wikia.nocookie.net/to-loveru/images/7/7c/Yami_prof.jpg/revision/latest/scale-to-width-down/250?cb=20131224204724" />
    <div class="labelInformation">
        <p>Id:</p>
        <p>Имя:</p>
        <p>Адрес:</p>
        <p>Способ оплаты:</p>
        <p>Время оплаты:</p>
        <p>Классификация заработка: </p>
        <p>Зарплата: </p>
    </div>
    <div class="information">
        <p>@Model.Employee.Id</p>
        <p>@Model.Employee.Name</p>
        <p>@Model.Employee.Address</p>
        <p>@Model.Employee.PaymentMethod</p>
        <p>@Model.Employee.PaymentSchedule</p>
        <p>@Model.Employee.PaymentClassification</p>
        <p>@Model.Salary</p>
    </div>
</main>
